.navbar {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 22px;
  padding-bottom: 22px;
  overflow-x: hidden;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container .left_side {
  width: 10%;
}

.navbar .container .right_side {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

@media (max-width: 992px) {
  .navbar .container .right_side {
    padding-right: 0;
  }
}

.navbar .logo {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.navbar .logo img {
  width: 40px;
}

.navbar .search {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
}

.navbar .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar .search_input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
}

.navbar .search_icon {
  margin-top: -5px;
}

.navbar .search_icon span {
  color: #ccc !important;
}

@media (max-width: 490px) {
  .navbar .search {
    max-width: 100%;
    margin-top: 16px;
  }
}

.navbar .menu_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 40px;
}

.navbar .menu_links ul li {
  list-style: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .menu_links ul li:hover {
  color: #ccc;
}

@media (max-width: 1200px) {
  .navbar .menu_links ul li {
    font-size: 14px;
  }
}

.navbar .menu_links ul li a {
  color: #000;
}

.navbar .menu_links ul li a:hover {
  color: #ccc;
}

@media (max-width: 1200px) {
  .navbar .menu_links ul {
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .navbar .menu_links {
    display: none;
  }
}

.navbar .menu_links svg {
  font-size: 12px;
  margin-top: -5px;
}

.navbar .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navbar .burger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
}

.navbar .burger:hover {
  gap: 4px;
}

@media (max-width: 992px) {
  .navbar .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 20px 24px;
  }
}

.mobile_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  list-style: none;
}

.loader-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */