@import "./sass/navbar";
@import "./sass/trending";
@import "./sass/mostPopular";
@import "./sass/smallArticle";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.typograph_item {
  display: flex;
  gap: 10px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.section {
  margin-top: 56px !important;
  overflow: hidden;
}
.heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  bottom: 0 !important;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 40px;
}
.footer .social .icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.footer .social .icon img {
  width: 100%;
  object-fit: cover;
}
.footer .social .icon img:hover {
  transform: scale(1.2);
}
.footer .widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  font-size: 14px;
  color: #888;
  padding: 0 12px;
}
.member {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}
.member .ant-card {
  width: 32%;
  height: 150px;
  margin-bottom: 2%;
}
.ant-dropdown {
  width: 150px !important;
}
.show_more {
  width: 100%;
  display: flex;
  justify-content: center;
}
.language {
  position: absolute;
  right: 15px;
}
.language.mobile {
  display: block;
  position: absolute;
  top: 10px;
}
.language .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  outline: none;
}
.ant-avatar {
  width: 64px !important;
  height: 64px !important;
}
.outhor_data {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
  flex-wrap: wrap;
}
.outhor_data .name {
  display: block;
  width: max-content;
}
.extra-data {
  margin-left: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #888;
}
.extra-data .item {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .typograph_item {
    flex-direction: column;
    margin-top: 17px;
    gap: 0;
  }
  .heading {
    font-size: 24px;
  }
  .language {
    display: none;
  }
}
@media (max-width: 768px) {
  .member .ant-card {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .member .ant-card {
    width: 47%;
    height: 100%;
    margin-bottom: 5%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .member .ant-card {
    width: 30%;
    height: 100%;
    margin-bottom: 5%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
